<div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="fw-bold" class="text-primary" class="text-center">Liste des Modeles</h2>
    </div>
    <input class ="form-control"type="text" name="nom" [(ngModel)]="nom" (ngModelChange)="Search()" placeholder="
    Taper le nom Modele">
    <div class="panel-body">
      <table class="table table-striped-columns">

        <thead>
          <tr>
            <th (click)="sort('nom')"> <i class="fa-solid fa-arrow-down-arrow-up"></i>Nom Modele &nbsp;</th>
            
            <th>Nombre Places</th>
            <th>Nombre Portes</th>
            <th>Volume Coffre</th>
            <th>Puissance</th>
            <th>Version</th>
          
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | orderBy: key: reverse | paginate: {itemsPerPage:3,currentPage:p}; ">
            <td>{{employee.nom}}</td>
            <td>{{employee.nbplaces}}</td>
            <td>{{employee.nbportes}}</td>
            <td>{{employee.volumecoffre}}</td>
            <td>{{employee.puissance}}</td>
            <td>{{employee.version}}</td>
           
           
           <td><button class="btn btn-danger" (click)="deleteEmployee(employee.id)"  >Supprimer</button>
            <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Modifier</button>
                
            </td>
          </tr>
        </tbody>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </table>
    </div>
  </div>