<div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="fw-bold" class="text-primary" class="text-center">Liste des Agences</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped-columns">

        <thead>
          <tr>
            <th>Nom Agence</th>
            <th>Adresse Agence</th>
            <th>Email Agence</th>
            <th>Telephone Agence</th>
            <th>Societe Agence</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of agences | async ">
            <td>{{employee.nom}}</td>
            <td>{{employee.adresse}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.tel}}</td>
            <td></td>
           
           <td><button class="btn btn-danger" (click)="deleteEmployee(employee.id)"  >Supprimer</button>
            <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Modifier</button>
                
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>